@media handheld, only screen and (width <= 480px), only screen and (device-width <= 854px) {
	/* A few fixes for mobile devices (far from perfect). */

	.tagfilter div.awesomplete {
			width: 70%;
	}

	.nomobile {
		display: none;
	}

	#logo {
		display: none;
	}

	#pageheader #menu ul {
			text-align: center;
	}

	#pageheader #menu a {
		border-radius: 3px;
		margin: 3px;
		padding: 5px;
	}

	#headerform label {
		display: block;
		height: auto;
		line-height: 25px;
		padding-bottom: 10px;
		width: 100%;
	}

	#headerform label input[type="text"],
	#headerform label input[type="password"]{
		float: right;
		width: 70%;
	}

	.searchform, .tagfilter {
		display: block !important;
		margin: 0 3px 7px 0 !important;
		padding: 0 !important;
		width: 97% !important;
	}

	.searchform input, .tagfilter input {
		display: inline !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	.tagfilter input.bigbutton, .searchform input.bigbutton, .addform input.bigbutton, a.bigbutton {
			font-size: smaller;
			width: 30%;
	}

	#searchform_value {
		width: 70% !important;
	}

	div.qrcode {
		float: left;
		left: 0;
		position: relative;
		top: -10px;
	}

	.paging-linksperpage {
		float: none;
		font-size: smaller;
		margin-bottom: 10px;
	}

	.paging-linksperpage a {
		background-color: transparent;
		border: 0;
		border-radius: 3px;
		color: inherit;
		padding: 3px 5px;
	}

	.thumbnail {
		float: none;
		height: auto;
		margin: 0;
		text-align: center;
	}

	#cloudtag {
		padding: 0;	
	}

	div.dailyAbout {
		clear: both;
		float: none;
		left: 0;
		padding: 0;
		position: relative;
		top: 0;
		width: 100%;
	}

	#daily_col1, #daily_col2, #daily_col3 {
		float: none;
		padding: 0;
		width: 100%;
	}

	div.dailyTitle {
		font-size: 18pt;
		margin-top: 5px;
		padding: 0;
	}

	div.dailyDate {
		display: block;
		font-size: 11pt;
		padding: 0;
	}

	div.dailyEntryTitle {
		font-size: 16pt;
		font-weight: bold;
	}

	div.dailyEntryDescription {
		font-size: 10pt;
	}

}
