@import url("reset.css");

:root {
  /* Main theme colors. Will be overwritten by the default colors plugin */
  --main-color: blue;
  --background-color: white;
  --dark-main-color: purple;

  /* These will be deduced from main */
  --secondary-color: rgb( from var(--main-color) r g b / 50% ); 
}

/* tweaked from shaarli.css */
body {
    background-color: var(--background-color);
    font-family: arial, sans-serif;
    font-size: 10pt;
    word-wrap: break-word;
}

input, textarea {
    background-color: var(--background-color);
    border: 1px solid #666;
    border-radius: 3px;
    box-shadow: none;
    color: #000;
    font-size: 8pt;
    padding: 5px;
}

input[type="submit"] {
    background: rgb(202 198 187);
    border: 2px outset;
    border-radius: 0;
    min-width: 80px;
}

a {
    color: var(--main-color);
    text-decoration: none;
}

a:visited {
    color: var(--dark-main-color);
}

del {
    text-decoration: line-through;
}

em {
    font-style: italic;
}

strong {
    font-weight: bold;
}

td, tr, th {
  border: 1px solid #666;
  border-width: 1px 0;
  padding: 5px;
}

th {
  font-weight: bold;
}

h1 {
    font-size: 1.6em;
    font-style: italic;
    font-weight: bold;
}

h2 {
  font-size: 1.5em;
  line-height: 2em;
}

h3 {
  font-size: 1.3em;
  line-height: 1.8em;
}

h4 {
  font-size: 1.15em;
  line-height: 1.3em;
}

nav {
  display: inline-block;
  margin-left: 10px;
}

.hidden {
    display: none;
}

.linkeditbuttons {
    border-radius: 0 6px 6px 0;
    left: 2px;
    padding: 4px 2px 2px;
}

#pageheader #menu {
    width: 100%;
}

#pageheader #menu ul {
    float: none;
    margin: auto;
    padding: 7px 0 0;
}

#pageheader #menu ul li {
    box-sizing: border-box;
    display: inline;
    list-style: none;
    position: relative;
}

#pageheader a {
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
    line-height: 2.5;
    margin: 10px 3px 3px;
    padding: 5px;
    text-decoration: none;
    white-space: nowrap;
}

#pageheader {
    background-color: #333;
    box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
    margin: auto;
    padding: 5px 10px;
    width: auto;
}

#pageheader .search {
    white-space: nowrap;
    width: 100%;
}

.toolbox {
  padding: 10px;
}

.tools-item {
  margin: 5px 0;
}

.linksperpage, .tagfilter, .searchform, .addform {
    background-color: #dedede;
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
    color: #cecece;
    display: inline;
    margin: 10px 3px 3px;
    padding: 5px;
}

.linksperpage {
    padding: 3px;
}

.linksperpage input, .tagfilter input, .searchform input, .addform input {
    border: none;
    box-shadow: none;
    padding: 5px;
}

.linksperpage input {
    padding: 0;
}

.tagfilter {
    margin-left:24px;
}

.tagfilter li {
    color: black;
}

.tagfilter input.bigbutton, .searchform input.bigbutton, .addform input.bigbutton {
    background-color: #dedede;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 50%);
    cursor: pointer;
    height: 20px;
    margin: 5px 0;
    padding: 0 5px;
}

#shaarli-title {
    font-style: normal;
    font-weight: bold;
    line-height: 1.8em;
    margin-top: 0;
}

#shaarli-title a {
    color: var(--main-color);
}

#searchcriteria {
    font-weight: bold;
    padding: 4px 0 5px 5px;
}

.paging, .tag-sort {
    padding: 5px 0;
}

.item-count {
    margin: 0 15px;
}

#headerform {
    clear: both;
    color: #000;
    padding: 5px;
}

#headerform input.linkurl {
    font-size: inherit;
    width: 50%;
}

#headerform label {
    cursor: pointer;
    margin-right: 10px;
}

#headerform label[for="longlastingsession"] {
    display: block;
    margin-top: 5px;
    width: 100%;
}

#editlinkform {
    clear: left;
    height: 100%;
    padding: 5px 5px 5px 15px;
    width: 80%;
}

#editlinkform label {
    color: #fff;
    cursor: pointer;
}

#editlinkform textarea, #editlinkform .lf_input {
    width: 100%;
}

#linklist li {
    background-color: #F2F2F2;
    border-top: 1px solid #bbb;
    clear: both;
    padding: 4px 10px 15px 20px;
}

.linkdate {
    color:#888;
    font-size:8pt;
}

.linkdate a {
    color:#E28E3F;
}

#linklist li.private {
    padding-left: 30px;
}

#linklist li {
    padding-left: 30px;
}

.private .linktitle a {
    color: #969696;
}

.linktitle {
    font-size: 14pt;
    font-weight: bold;
}

.linkdate {
    color: #888;
    font-size: 8pt;
}

.linkdescription {
    color: #000;
    font-weight: normal;
    margin-bottom: 12px;
    margin-top: 0;
    overflow: auto;
}

.linkdescription a {
    text-decoration: none;
}

.linktaglist {
    line-height: 200%;
    padding-top: 10px;
}

.linktag {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 0 2px rgb(0 0 0 / 50%);
    cursor: pointer;
    font-size: 9pt;
    height: 20px;
    padding: 3px 5px 3px 20px;
}

.linktag:hover {
    border-color: #555573;
    color: #000;
}

.linktag a {
    color: #777;
    text-decoration: none;
}

.linktag .remove {
    border-left: 1px solid #aaa;
    color:#6767A7;
    padding-left: 5px;
}

.linkshort {
    color: #888;
    font-size: 8pt;
}

.linkshort a {
    color: #393964;
    text-decoration: none;
}

.linkshort a:hover {
    text-decoration: underline;
}

.buttoneditform {
    display: inline;
}

#footer {
    clear: both;
    color: #888;
    font-size: 8pt;
    margin: 15px auto;
    max-width: 30em;
    text-align: center;
}

#newversion {
    background-color: #FFFFA0;
    color: #000;
    font-size: 9pt;
    padding: 2px 7px;
    position: absolute;
    right: 0;
    top: 0;
}

#newversion #version_id {
    text-decoration: blink;
}

#cloudtag {
    padding-left: 10%;
    padding-right: 10%;
}

#cloudtag .count {
    color: #99f;
    font-size: 9pt;
    padding-left: 5px;
    padding-right: 2px;
}

#cloudtag a {
    color: black;
    text-decoration: none;
}

#install {
    margin: 0 20px;
}

#installform {
    border: 1px solid black;
    padding: 10px;
}

#installform table {
    border: none;
}

#installform td {
    clear: left;
    color: black;
    font-size: 10pt;
    padding: 10px 5px;
}

#installform input.bigbutton {
    float: right;
}

#changepasswordform {
    clear: left;
    color: #ccc;
    padding: 10px 5px;
}

#changetag {
    clear: left;
    color: #ccc;
    padding: 10px 5px;
}

#changetag #totag {
    margin-left: 40px;
}

#changetag div {
    float:left;
}

#changetag label {
    padding: 5px;
}

#changetag li {
    color: #000;
}

#configform td {
    color: #ccc;
    font-size: 10pt;
    padding: 10px 5px;
}

#configform {
    clear: left;
    color: #ccc;
    padding: 10px 5px;
}

.thumbnail {
    float: right;
    margin: 0 10px;
}

.thumbnail img {
    border-radius: 3px;
    box-shadow: 0.5px 0.5px 0.5px 1px #dde4e6;
}

/* --- Picture wall CSS --- */
#picwall_container {
    background-color: #000;
    clear: both;
    color: #fff;
}

.picwall_pictureframe {
    background-color: #000;
    display: table-cell;
    float: left;
    height: 90px;
    overflow: hidden;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 90px;
    z-index: 5;
}

.b-lazy {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.b-lazy.b-loaded {
    opacity: 1;
}

.picwall_pictureframe img {
    color: transparent;
    height: auto;
    max-width: 100%;
} /* Adapt the width of the image */

.picwall_pictureframe a {
    text-decoration: none;
}

/* CSS to show title when hovering an image - no javascript required. */
.picwall_pictureframe span.info {
    display: none;
}

.picwall_pictureframe:hover span.info {
    background-color: transparent;
    background-color: rgb(0 0 0 / 40%);
    color: #fff;
    display: block;

    /* FF3+, Saf3+, Opera 10.10+, Chrome, IE9 */
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#66000000, endColorstr=#66000000);
    font-size: 8pt;
    font-weight: bold;
    left: 0;
    position: absolute;
    text-align: left;

    /* IE6IE9 */
    text-shadow: 2px 2px 1px #000;
    top: 0;
    width: 90px;
}

#linklist li.publicLinkHightLight {
    background: #fff;
}

div.daily {
    border-bottom: 2px solid black;
}

#daily_col1 {
    float: left;
    padding-left: 1%;
    position: relative;
    width: 33%;
}

#daily_col2 {
    float: left;
    position: relative;
    width: 33%;
}

#daily_col3 {
    float: left;
    position: relative;
    width: 33%;
}

div.dailyAbout {
    border: 1px solid black;
    float: left;
    font-size: 8pt;
    left: 10px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 15px;
}

div.dailyAbout img {
    height: 14px;
    margin-right: 4px;
    position: relative;
    top: 3px;
    width: 14px;
}

div.dailyEntryPermalink {
    float: right;
}

div.dailyTitle {
    font-size: 44pt;
    font-weight: bold;
    padding: 10px 20px 0;
    text-align: center;
}

div.dailyDate {
    font-size: 12pt;
    font-weight: bold;
    padding: 0 20px 30px;
    text-align: center;
}

/* Individual entries in "Daily": */
div.dailyEntry {
    border-top: 1px solid #555;
    font-size: 11pt;
    margin: 5px 10px 2px 5px;
}


div.dailyEntryTags {
    font-size: 7.75pt;
}

div.dailyEntryTitle {
    font-size: 18pt;
    font-weight: bold;
}

div.dailyEntryLinkdate {
    font-size: 8pt;
}

div.dailyEntryThumbnail {
    background-color: rgb(128 128 128);
    padding: 4px 0 2px;
    text-align: center;
    width: 100%;
}

div.dailyEntryDescription {
    margin-bottom: 30px;
    margin-top: 10px;
    overflow: auto;
    text-align: justify;
}

div.dailyNoEntry {
    padding: 40px 0 90px;
    text-align: center;
}

.daily #closing {
    clear: both;
    padding-bottom: 20px;
    text-align: center;
}

/* Common CSS screwdriver */
.clear {
    clear: both;
}

.right {
    text-align: right;
}

/* For lazy images loading in picture wall.
   Using http://www.appelsiini.net/projects/lazyload
*/
.lazyimage {
    display: none;
}

#configuration_table td {
    border: none;
    padding: 10px;
    vertical-align: top;
}

#toolsdiv a.button-description {
	clear: none;
}

/* Highlight search results */
.highlight {
    background-color: #FF3;
}

.center {
    text-align: center;
}

ul.errors {
    color: red;
    float: left;
}

#pluginsadmin {
    padding: 20px 0 0 20px;
    width: 80%;
}

#pluginsadmin section {
    padding: 20px 0;
}

#pluginsadmin .plugin_parameters {
    margin: 10px 0;
}

#pluginsadmin h1 {
    font-style: normal;
}

#pluginsadmin h2 {
    font-size: 1.4em;
    font-weight: bold;
}

#pluginsadmin table {
    width: 100%;
}

#pluginsadmin table, #pluginsadmin th, #pluginsadmin td {
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 1px 0;
}

#pluginsadmin table th {
    font-weight: bold;
    padding: 10px 0;
}

#pluginsadmin table td {
    padding: 5px 0;
}

#pluginsadmin input[type="submit"] {
    margin: 10px 0;
}

#pluginsadmin label {
    cursor: pointer;
}

#pluginsadmin .plugin_parameter {
    border-color: #c0c0c0;
    border-style: solid;
    border-width: 1px 0;
    padding: 10px 0;
}

#pluginsadmin .float_label {
    float: left;
    width: 40%;
}


#pluginsadmin a.arrow {
    color: black;
}

/* 404 page */
.error-container {
    margin: 50px;
    margin-top: 20px;
}

.error-container h1 {
    color: #80AD48;
    font-style: normal;
    text-decoration: none;
}

.linklist-plugin-icon {
    height: 13px;
    width: 13px;
}

/* Buttons */
.bigbutton {
    background: #fff;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    color: #606060;
    margin-left: 0;
}

#pageheader #menu,
#pageheader #shaarli-title,
#pageheader #menu_filter  {
    display: inline-block;
    width: auto;
}

#pageheader #menu_filter input{
  background: transparent;
  border: 1px solid #999;
  border-radius: 2px;
  font-size: 1.6em;
  font-weight: bold;
  line-height: 1em;
  padding: 0 5px;
  width: auto;
}

#menu_filter input::placeholder {
  color: #999;
  opacity: 1;
} 

#pageheader a {
    background: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    color: var(--main-color);
    line-height: normal;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#pageheader #links {
    display: inline-block;
    float: right;
    padding: 10px 5px 3px 0;
    text-align: right;
}

#pageheader #links ul li {
    box-sizing: border-box;
    display: inline;
    list-style: none;
    position: relative;
}

#pageheader #links ul li a {
    border-left: 1px solid #000;
    border-radius: 0;
    display: inline-block;
    line-height: 1;
    padding-left: 4px;
}

#pageheader #links ul li:nth-child(1) a {
    border-left: 0;
}

#pageheader {
    background: #ddd;
    background-color: #ddd;
    box-shadow: none;
}

#pageheader .linkcount {
  padding: 7px 0 0;
  text-align: center;
}

.linksperpage, .tagfilter, .searchform, .addform {
    background: inherit;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.searchform #searchform_value {
    width: 100%;
}

.tagfilter {
    display: inline-block;
    margin-left: none;
    max-width: 200px;
    width: 50%;
}

#pageheader a:visited,
#pageheader a:hover,
#pageheader a:active {
    color: var(--main-color);
    text-decoration: initial;
}

.paging a:link {
    color: var(--main-color);
}

.paging a:visited {
    color: var(--dark-main-color);
}

#editlinkform, #headerform {
    background: #eee;
}

#linklist li {
    background: 0;
    background-color: transparent;
    border-top: 0;
    clear: both;
    padding: 4px 10px 5px 20px;
}

.thumbnail {
  float: left;
  margin-left: 0;
}

#linklist li.private {
    padding-left: 20px; 
}

.meta div {
  display: inline-block;
}

.meta span.private {  
    color: red;
}

.linktitle {
    font-size: 12pt;
    font-weight: normal;
}

.private .linktitle a, 
.linktitle a,
.linktitle a:hover  {
    color: var(--main-color);
}

.private .linktitle a:visited, 
.linktitle a:visited  {
    color: var(--dark-main-color);
}

.linkdescription {
    margin-bottom: 0;
}

.meta {
    color: #999;
    font-size: 9pt;
    line-height: normal;
    padding-top: 0;
}

.linktag {
    background-color: #fff;
    background-image: none;
    background-position: 3px center;
    background-repeat: no-repeat;
    box-shadow: none;
    cursor: auto;
    height: auto;
    padding: 0;
}

.meta a {
    color: var(--secondary-color);
}

#pluginsadmin .plugin_parameter {
    padding: 5px 0;
}

.linksperpage, .rssinfo {
  margin-left: 10px;
}

#footer a,
#footer a:hover {
  color: var(--main-color);
}

/* From  user.css */

.markdown p {
  margin: 0 !important;
}

.markdown li {
  list-style: bullet;
  padding-left: 5px;
}

.markdown ul {
  padding-left: 20px;
}

#body-container {
  box-sizing: border-box;
  clear: both;
  width: 100%;
}

#body-container::before,
#body-container::after,
#pageheader::before,
#pageheader::after,
#linklist::before,
#linklist::after,
#taglist::before,
#taglist::after {
  content: " ";
  display: table;
}

#body-container::after,
#pageheader::after,
#linklist::after,
#taglist::after {
  clear: both;
}

#linklist,
#taglist {
  box-sizing: border-box;
  float: left;
}


#linklist {
  width: 80%;
}

#taglist {
  background-color: #eee;
  padding-bottom: 10px;
  padding-top: 10px;
  width: 20%;
}

#taglist h5 {
  font-size: 16px;
  font-weight: bold;
  margin-left: 35px;
  padding-top: 10px;
}

#taglist h5,
#taglist ul {
  padding-left: 10px;
}

#taglist li > span.tagnumber {
  display: inline-block;
  min-width: 30px;
  text-align: right;
}

#taglist li span.tagname {
  display: inline-block;
  margin-left: 5px;
}

#taglist a:visited {
  color: var(--main-color);
}

/* Edit link form */

#editlinkform label {
    color: #555;
    display: block;
    font-weight: bold;
    padding: 5px 0;
}

#private-checkbox {
  display: block;
  padding-bottom: 15px;
}

#private-checkbox label {
  display: inline-block;
}

/* Tools pages */
#toolsdiv a span,
#configform td,
#changepasswordform,
#changetag,
#uploaddiv {
  color: #555;
}

/* cloudtag */
#cloudtag {
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}

#cloudtag .count {
    display: #999;
}

#cloudtag a {
    color: var(--main-color);
}

.awesomplete mark {
  background: #ddd;
}

.md_help {
  color: #555 !important;
  font-size: 8pt;
  padding-bottom: 5px;
}

.markdown blockquote {
  margin-left: 20px;
  padding-left: 0;
}

.awesomplete [hidden] {
    display: none;
}

.awesomplete .visually-hidden {
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

.awesomplete {
    display: inline-block;
    position: relative;
}

.awesomplete > input {
    display: block;
}

.awesomplete > ul {
    background: #fff;
    box-sizing: border-box;
    left: 0;
    list-style: none;
    margin: 0;
    min-width: 100%;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.awesomplete > ul:empty {
    display: none;
}

#taglist .filter {
  padding-left: 30px;
}

.rssinfo img {
  vertical-align: bottom;
}

@import url("mobile.css");
@import url("print.css");


