@media screen and (width <= 640px) {
	/* A better layout for tiny screens */

	.nomobile {
		display: none;
	}

	#pageheader {
	  display: flex;
	  flex-direction: column-reverse;
	  justify-content: flex-start;
	}
	#pageheader #menu {
		display: flex;
		align-content: baseline;
		gap: 5px;
		padding: 5px 0;
	}
	#pageheader #menu a {
		display: flex;
		gap: 5px;
		padding: 0;
		margin: 0;
	}
	#pageheader #shaarli-title {
		flex: 1 0 auto;
		line-height: 1;
	}
	#pageheader #menu-filter {
		flex: 1 1 auto;
	}
	.searchform {
		width: 100%;
		margin: 0;
	}
	.searchform input {
		width: 100%;
	}
	#links {
		margin: 5px 0 10px;
	}

	.main-wrapper {
		display: flex;
		flex-direction: column-reverse;
	}

	#linklist,
	#taglist {
		width: 100%;
		float: none;
	}

	.paging {
		margin: 0 10px;
	}

	.linklist-pages {
		display: flex;
		align-items: baseline;
		justify-content: space-space-between;
	}

	.paging nav {
		margin-left: 0;
	}

	.item-count {
		font-size: 80%;
	}
	#taglist-title span,
	#taglist-title a.taglist-toggle {
	  display: inline-block;
	}


}

@media only screen and (device-width <= 854px) {
	/* A few fixes for mobile devices (far from perfect). */
/*
	.tagfilter div.awesomplete {
			width: 70%;
	}

	.nomobile {
		display: none;
	}

	#logo {
		display: none;
	}

	#pageheader #menu ul {
			text-align: center;
	}

	#pageheader #menu a {
		margin: 3px;
		padding: 5px;
	}

	#headerform label {
		display: block;
		height: auto;
		line-height: 25px;
		padding-bottom: 10px;
		width: 100%;
	}

	#headerform label input[type="text"],
	#headerform label input[type="password"]{
		float: right;
		width: 70%;
	}

	.searchform, .tagfilter {
		display: block !important;
		margin: 0 3px 7px 0 !important;
		padding: 0 !important;
		width: 97% !important;
	}

	.searchform input, .tagfilter input {
		display: inline !important;
		margin: 0 !important;
		padding: 0 !important;
	}

	.tagfilter input.bigbutton, .searchform input.bigbutton, .addform input.bigbutton, a.bigbutton {
			font-size: smaller;
			width: 30%;
	}

	#searchform_value {
		width: 70% !important;
	}

	div.qrcode {
		float: left;
		left: 0;
		position: relative;
		top: -10px;
	}

	.paging-linksperpage {
		float: none;
		font-size: smaller;
		margin-bottom: 10px;
	}

	.paging-linksperpage a {
		background-color: transparent;
		border: 0;
		border-radius: 3px;
		color: inherit;
		padding: 3px 5px;
	}

	.thumbnail {
		float: none;
		height: auto;
		margin: 0;
		text-align: center;
	}

	#cloudtag {
		padding: 0;
	}

	div.dailyAbout {
		clear: both;
		float: none;
		left: 0;
		padding: 0;
		position: relative;
		top: 0;
		width: 100%;
	}

	#daily_col1, #daily_col2, #daily_col3 {
		float: none;
		padding: 0;
		width: 100%;
	}

	div.dailyTitle {
		font-size: 18pt;
		margin-top: 5px;
		padding: 0;
	}

	div.dailyDate {
		display: block;
		font-size: 11pt;
		padding: 0;
	}

	div.dailyEntryTitle {
		font-size: 16pt;
		font-weight: bold;
	}

	div.dailyEntryDescription {
		font-size: 10pt;
	}
*/
}
